@import "~antd/dist/antd.css";
.site-layout-content {
    min-height: 280px;
    padding: 24px;
    background: #fff !important;
  }
.logo {
    float: left;
    top: 10px;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
    background-image: url(logo/logo/logo.jpg);
    /* justify-content: center; */
  }
  .ant-row-rtl .logo {
    float: right;
    margin: 16px 0 16px 24px;
  }
  .ant-layout-header {
    height: 64px;
    padding: 0 50px;
    color: rgba(0, 0, 0, 0.85);
    line-height: 64px;
    background: #fff;
}
.ant-btn .trial-btn{
    float: right;

}
.gap{
    width: 100px;
}
.container-fluid{
    margin: 0 auto;
    padding: 0 15px;
    box-shadow: 0 15px 10px -15px #1116;
}
/* 
header
------ 
*/
.ant-layout-header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
  }
  
  .header {
    display: flex;
    max-width: 1519.2px;
    height: 55px;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    }
  
  /* .header .logo {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 400;
  } */
  
  .header .logo .fas {
    color: #1890ff;
    margin: 0 5px 0 0;
    font-size: 28px;
  }
  
  .header .logo a {
    color: #333;
  }
  
  .header .ant-anchor-wrapper {
    background: none;
  }
  
  .header .ant-anchor {
    display: flex;
  }
  
  .header .ant-anchor-ink {
    display: none;
  }
  
  .header .ant-anchor-link {
    padding: 0 20px;
    line-height: 1.4;
    position: relative;
  }
  
  .header .ant-anchor-link:before,
  .header .ant-anchor-link:after {
    content: '';
    background: #1890ff;
    width: 1px;
    position: absolute;
    top: 2px;
    bottom: 2px;
    left: 30%;
    opacity: 0;
    transition: all 0.3s linear;
  }
  
  .header .ant-anchor-link:after {
    left: auto;
    right: 30%;
  }
  
  .header .ant-anchor-link.ant-anchor-link-active:before,
  .header .ant-anchor-link:hover:before {
    left: 5%;
    opacity: 1;
  }
  
  .header .ant-anchor-link.ant-anchor-link-active:after,
  .header .ant-anchor-link:hover:after {
    right: 5%;
    opacity: 1;
  }
  
  /* ant menu */
  .header .ant-menu {
    border: 0;
    background: none !important;
  }
  
  .header .ant-menu li.ant-menu-item {
    position: relative;
    color: #333;
  }
  
  .header .ant-menu li.ant-menu-item:before,
  .header .ant-menu li.ant-menu-item:after {
    content: '';
    background: #1890ff;
    width: 1px;
    position: absolute;
    top: 2px;
    bottom: 2px;
    left: 30%;
    opacity: 0;
    transition: all 0.3s linear;
  }
  
  .header .ant-menu li.ant-menu-item:after {
    left: auto;
    right: 30%;
  }
  
  .header .ant-menu li.ant-menu-item,
  .header .ant-menu li.ant-menu-item-selected {
    border: 0 !important;
  }
  
  .header .ant-menu li.ant-menu-item-selected,
  .header .ant-menu li.ant-menu-item:hover {
    color: #1890ff;
    background: none;
  }
  
  .header .ant-menu li.ant-menu-item-selected:before,
  .header .ant-menu li.ant-menu-item:hover:before {
    left: 5%;
    opacity: 1;
  }
  
  .header .ant-menu li.ant-menu-item-selected:after,
  .header .ant-menu li.ant-menu-item:hover:after {
    right: 5%;
    opacity: 1;
  }
  button.trial-btn{
    background: #023047;
    border: none;
    border-radius: 0;
    color: #fff;
    margin-right: 10px;
    padding: 5px 32px;
  }
  .login-btn{
    background: #fb8602;
    border: none;
    border-radius: 0;
    color: #fff;
    padding: 5px 50px;
  }
  .btn-container{
      align-items: center;
      /* flex-basis: 100%; */
      flex-grow: 1;
  }
  .container{
    max-width: 1320px;
  }
  .login-banner{
    align-items: center!important;
  }
  .row{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--bs-gutter-x)*-.5);
    margin-right: calc(var(--bs-gutter-x)*-.5);
    margin-top: calc(var(--bs-gutter-y)*-1);
  }
  .row>*{
    margin-top: var(--bs-gutter-y);
    max-width: 100%;
    padding-left: calc(var(--bs-gutter-x)*.5);
    padding-right: calc(var(--bs-gutter-x)*.5);
  }

  /* @media(min-width: 768px){ */
    .login-window{
      flex: 0 0 auto;
    width: 33.33333333%;
    }
    .banner{
      flex: 0 0 auto;
    width: 66.66666667%;
    }
    /* } */
    .ant-layout-content{
      position: relative;
      top:240px;
    }
    .form-container{
      margin: 0 auto;
      width: 100%;
      position: relative;
      left: 45px;
    }
    h2{
      line-height: 1.2;
    margin-bottom: 5px;
    margin-top: 0;
    }
    h2.form-title{
      font-size: 27px;
      font-weight: 700;
      position: relative;
      left: 182px;
      /* text-align: center; */
    }
    p{
      display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    }
    p.subText{
      color: #9a8e8e;
    font-size: 14px;
    font-weight: 500;
    position: relative;
      left: 196px;
      top: -10px;
    /* text-align: center; */
    }
    .ant-design-layout{
      background-color: #fff;
    }
    .form-item-email{
      margin-bottom: 1rem!important;
    }
    .email-input{
      position: relative;
      left: 142px;
      appearance: none;
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    color: #212529;
    display: block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    height: 38px;
    padding: 0.375rem 0.75rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width: 100%;
    }
    /* .form-item-password{
      margin-bottom: 1rem!important;
    } */
    .password-input{
      position: relative;
      left: 142px;
      appearance: none;
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    color: #212529;
    display: flex;
    
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    height: 38px;
    padding: 0.375rem 0.75rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width: 100%;
    }
    .submit-btn{
      background: #023047;
      border-radius: 0;
      font-size: 16px;
      margin-bottom: 10px;
      width: 100%;
      align-items: center;
      vertical-align: middle;
    }
    .remember{
      position: relative;
      top: -35px;
    }
    img.banner-img{
      width: 100%;
      position: fixed;
      left: 620px;
      top: 30px;
      width: 856px;
      height: 625px;
    }
    .layout{
      position: relative;
      top: 10px;
      background-color: #fff;
      
    }

    @media  screen and (max-width: 360px) {
      .banner{
        display: none;
      }
      .login-window{
        width: 100%;
      }
      button.trial-btn{
        display: none;
      }
      button.login-btn{
        display: none;
      }
      .form-container{
        max-width: 360px; 
        text-align: center;
        overflow-x: hidden;
      }
      .container-fluid{
        width: 100%;
      }
      h2.form-title{
        font-size: 35px;
        position: relative;
        left: -10px;
      }
      p.subText{
        position: relative;
        left: -10px;
      }
      .email-input{
        position: relative;
        left: 0px;
        width: 90%;
      }
      .password-input{
        position: relative;
        left: 0px;
        width: 90%;
      }
      .submit-btn{
        position: relative;
        left: -135px;
        width: 90%;
      }
      .remember{
        position: relative;
        left: -135px;
        width: 90%;
      }
    }